div#gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

div#gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#galleryContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

#buttonRow {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

#buttonRow button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

/* search bar */
form.example{
    width: 400px;
    display: flex;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 100%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 30%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}